/*ベース・共通部分 START*/
body{
    color: #333;
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    margin: 0;
}
/*ベース・共通部分 END*/


/*ヘッダー START*/
.header{
    width: 100%;
    height: 120px;
    position: fixed; /*位置固定*/
    z-index: 1000; /*一番上に来るように*/
    background-color: #faf5ea; /*テスト*/
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); /*ヘッダー下の影*/
    text-decoration: none;
}
.shop-name{
    font-size: 30px;
    color: #000080;
    position: absolute; /*位置固定*/
    left: 50px; /*位置固定*/
    bottom: 20px; /*位置固定*/
}
#pc-global-nav{
    font-weight: bold;
    position: absolute; /*位置固定*/
    left: 230px; /*位置固定*/
    bottom: 20px; /*位置固定*/
}
#pc-global-nav a, #responsive-global-nav a{
    text-decoration: none;
}
.pc-nav-item{
    display: inline-block; /*ナビを横並び*/
}
.pc-nav-item + .pc-nav-item{
    padding-left: 25px; /*ナビ間の余白*/
}
.pc-nav-item a{
    color: #a03c8c;
    font-size: 23px;
    cursor: pointer;
    transition: 0.2s; /*hoverが0.2秒で変化*/
}
.pc-nav-item a:hover{
    color: gray; /*テスト*/
}
.news{
    font-weight: bold;
    position: absolute; /*位置固定*/
    top: 20px; /*位置固定*/
    right: 50px; /*位置固定*/
}
.news span{
    padding-right: 20px;
    color: #cf1126;
}
/*ヘッダー END*/

/*メイン START*/
.container{
    padding: 50px 50px; 
}
.top-container{
    padding-top: 120px;
}
.wrapper{
    padding: 0 180px;
}
.heading{
    font-size: 40px;
    padding-bottom: 30px;
    color: #a03c8c;
}
.heading span{
    font-size: 15px;
    padding-left: 10px;
}
.intro{
    padding: 70px 230px;
}
.intro-title{
    font-size: 20px;
    padding-bottom: 20px;
    letter-spacing: 1.5px;
}
.intro-text{
    line-height: 27px;
}
.info-item{
    letter-spacing: 1px;
}
.info-item a{
    padding-left: 20px;
}
.category{
    margin-bottom: 20px;
}
.menu-area{
    display: flex;
    margin-bottom: 20px;
}
.menu-card{
    width: 30%;
}
.menu-card + .menu-card{
    margin-left: 30px;
}
.menu-img{
    width: 100%;
}
.menu-name{
    padding-top: 10px;
    padding-left: 10px;
}
.price{
    float: right;
    padding-right: 10px;
    padding-bottom: 10px;
}
.table{
    width: 800px;
    margin: 0 auto;
    line-height: 150%;
    font-size: 15px;
    border: 1px solid #d0c8ba;
}
.table span{
    color: #cf1126;
    letter-spacing: 1px;
    font-size: 18px;
}

.table th{
    background-color: #ede0ca;
    padding: 10px;
    border:solid 1px #d0c8ba;
    text-align: left;
    vertical-align: middle;
}
.table td{
    padding: 10px;
    border:solid 1px #d0c8ba;
}
.table img{
    width: 54px;
    height: 36px;
}
/*メイン END*/

/*スライダー START*/
.slider{
    width: 100%;
}
.slider img{
    width: 100%;
    background-size: cover;
}
/*スライダー END*/

/*スクロール矢印 START*/
.scroll-btn{
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-decoration: none;
    padding-top: 60px;
    color: white; /*テスト*/
}
.scroll-btn span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb 1.5s infinite;
    animation: sdb 1.5s infinite;
    box-sizing: border-box;
}
@-webkit-keyframes sdb {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
}
@keyframes sdb {
    0% {
      transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
}
/*スクロール矢印 END*/

/*ヘッダー START*/
.footer{
    background-color: #faf5ea;
    padding: 10px;
}
.copyright{
    text-align: center;
    color: #000080;
}
/*ヘッダー END*/

/*スクロールフェードイン START*/
.scroll{ /*アニメーション要素のスタイル*/
  opacity : 0;
  visibility: hidden;
  transition: 2s;
  transform: translateY(30px);
}
.active{ /*アニメーション要素までスクロールした時のスタイル*/
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
/*スクロールフェードイン END*/

/*PC表示 START*/
@media (min-width: 769px) {
    #responsive-global-nav{
        display: none;
    }
    .pc-hid{
        display: none;
    }
}
/*PC表示 END*/

/*スマホ・タブレット表示 START*/
@media (max-width: 768px) {
    #pc-global-nav{
        display: none;
    }
}
/*スマホ・タブレット表示 END*/